<div id="messages_wrapper">
<body class="main">

	<div id="messages_title">Private Messages</div>

	<ul class="my_messages_tabs">
		<li id="new_messages" class="selected">Inbox</li>
		<li id="sent_messages">Sent Messages</li>
		<li id="trashed_messages">Trash</li>
	</ul>

	<div class="messages_content">
		<div class="page" id="new_messages" style="display:block;">

				<%= render :partial => "new_messages" %>

		</div>

		<div class="page" id="sent_messages" style="display:none;">

					<%= render :partial => "sent_messages" %>
		
		</div>

		<div class="page" id="trashed_messages" style="display:none;">

				<%= render :partial => "trashed_messages" %>

		</div>
	</div>

</body>
</div>