$("#<%= params[:d_id] %>").remove();
<% if @new_messages.count == 0 %>
	$("div #new_messages").empty()
	$("div #new_messages").append($("<div class='empty_statement'>Your inbox is empty!</div>"))
<% end %>
$("div #trashed_messages").empty();
$("div #trashed_messages").append("<%= escape_javascript(render :partial => 'trashed_messages') %>");