<h2>Friends</h2>
<ul>
	<% for friendship in @user.friendships %>
		<li>
			<%= link_to friendship.friend.username, user_profile_path(:user => friendship.friend.id) %>
			<%= link_to "remove", friendship, :method => :delete %>
		</li>
	<% end %>
</ul>