#manage_books_wrapper{
	width: 80%;
	margin: 0 auto;
	background: #ccc;
	min-height: 450px;
	padding: 5px 20px 10px 20px;
	border-radius: 5px;

}
#manage_books_wrapper body{
	margin-bottom: 10px;
}
#manage_books_wrapper table{
	margin: 0 auto;
}
#choose_class_panel{
	background: #ccc;
	margin: 0 auto;
	padding: 5px 10px 10px 10px;
	position: relative;
}
#manage_textbooks_title h3{
	color:#FFB000;
	font-size: 40px;
	font-family: Helvetica;
	background:#444;
	padding: 15px;
	margin-top: -1px;
	border-radius: 5px;
}
#manage_textbooks_title{
	margin-top: 10px;
}

.book{
	text-align: center;
}