  <div>
  Major 2:</br>
  <%= collection_select(:user, :major, Field.all, :title, :title) %></br>
  </div></br>
  
  <div>
  Minor:</br>
  <%= collection_select(:user, :major, Field.all, :title, :title) %></br>
  </div></br>
  
  <div>
  Minor 2:</br>
  <%= collection_select(:user, :major, Field.all, :title, :title) %></br>
  </div></br>