<form>
    <div id='row1'><label>Major:</label><input type='text' id='major1' name='major1'></div>
    <div id='row2'><label>2nd Major:</label><input type='text' id='major2' name='major2'></div>
     <div id='row3'><label>3rd Major:</label><input type='text' id='major3' name='major3'></div>
</form>
<a href='#' id='moremajors'>add more majors</a>