<div id="roadmap_wrapper">
<body class="main">

<h1>Getting Away With It</h1>

<h2 style="text-align: justified;">A roadmap around the rules from the RAs that enforce them</h2>

<div>
	<h3><a name="Top">Contents</a></h3>
	<ul>
		<li><a href="#Introduction">1 Introduction</a></li>
		<li><a href="#Rule">2 Rule breaking breakdown</a></li>
		<li><a href="#Five">3 Five important rules of thumb</a></li>
			<li id="sublist"><a href="#Five1">3.1 Known your enemy</a></li>
			<li id="sublist"><a href="#Five2">3.2 Timing</a></li>
			<li id="sublist"><a href="#Five3">3.3 Manners</a></li>
			<li id="sublist"><a href="#Five4">3.4 Pick a scapegoat</a></li>
			<li id="sublist"><a href="#Five5">3.5 Plan ahead</a></li>
		<li><a href="#Alcohol">4 Alcohol</a></li>
			<li id="sublist"><a href="#alcohol_drill">4.1 The Drill</a></li>
			<li id="sublist"><a href="#alcohol_NOT">4.2 How NOT to get caught</a></li>
		<li><a href="#Marijuana">5 Marijuana</a></li>
			<li id="sublist"><a href="#marijuana_drill">5.1 The Drill</a></li>
			<li id="sublist"><a href="#marijuana_NOT">5.2 How NOT to get caught</a></li>
	</ul>
</div>

<h3><a name="Introduction" href="#Top">Introduction</a></h3>

<p>Hello, and welcome to “Getting away with it,” the survival guide for students looking to live freely on the Hill at UCLA.  If you’re reading this, you face the same predicament as every other student on the Hill: how can I enjoy the freedoms of living away from home if there are rules keeping me from the very things I most desired in moving away to college?  Herein lay the answers.</p>

<p>So stop complaining that it’s “not fair” you can’t drink or enjoy a bowl of that “norcal shit” from the comfort of your room BECAUSE YOU CAN.  And you will.  Read on, learn the inner workings of policy enforcement on the Hill, and enjoy the freedoms of apartment living while taking advantage of the amenities of dorm life at the same time.  You don’t have to choose; you get both.  You just have to know what you’re not supposed to know.</p>

<p>Why am I writing this?  I’m not an anarchist.  I actually believe policy on the Hill has a much needed place in the community.  Every regulation enforced by On Campus Housing exists to ensure safety, effective communal living, and above all else, <em>respect</em>.  For example, you can’t smoke out in your room because 1) someone will torch their carpet and force Rieber to evacuate (stoners) and 2) smoke is hard to contain.  That shit gets everywhere.  Even with your door closed and wet towels “blocking” any openings to the hallway outside, the aroma is going to make its way at least 2 doors down from your own.  And while I, for one, enjoy the smell of marijuana, Jimmy is allergic to smoke, Martin can’t study with a contact high, and Susan’s dad is a seasoned reefer who has always given more attention to his favorite daughter, Mary Jane.  <u>Everyone is different</u>, and since you signed up to live on the Hill, you now live with “everyone.”  But enough about the rules and more about breaking them.</p>

<h3><a name="Rule" href="#Top">Rule breaking breakdown</a></h3>

<p>When a Resident Assistant (RA) catches you in the act of rule breaking, the RA asks questions and gathers information.  The RA will take down names and ID numbers from everyone’s bruincard.  <em>The RA is not responsible for determining consequences</em>.  Your punishment is up to the Resident Director (RD) of the building you are caught in.  After leaving the scene of the incident, the RA writes up the “incident report” that will be given to the RD.  The RD uses the information in this report and any additional information verbally provided by the RA to determine the consequences for the individuals involved in the incident.</p>

 <h3><a name="Five" href="#Top">Five important rules of thumb</a></h3>

<h4><a name="Five1">1.	Know your enemy</a></h4>

<p class="thumbs">While these may seem obvious, it’s important to know who is enforcing rules on the Hill so these individuals may be either avoided or properly immobilized.  The first and most obvious rule enforcer is the Resident Assistant.  The RA is to enforce housing policy within his or her building, and while though their jurisdiction is not limited to their hall, they typically do not flex authority on the outside.  The second rule enforcer is the Community Service Officer, or CSO.  CSOs typically patrol the outdoor areas around the Hill, though they occasionally come inside for rounds with the RAs.  CSOs are predominantly wannabe cops hurting for a student to slip up so they can go all authoritarian on the poor kid while feeling “right” about it because you are in the wrong.  CSOs have no real power outside of the radio they use to call someone else to deal with an incident.  The final and most overlooked rule enforcer on the Hill is <b>the resident</b>.  That’s right: your own flesh and blood is ratting you out to the bigger guys.  Don’t get all hot and bothered—it takes a genuine asshole to turn one’s own species against itself and you likely deserve whatever punishment you receive as a result.  As such, it is to your benefit to be on good terms with the people living around you as soon as possible.  Residents are the eyes and ears of the Hill and the more you respect them, the more they’ll respect you.  After all, the rules are predominantly about respect in the first place.</p>

<h4><a name="Five2">2.	Timing</a></h4>

<p class="thumbs">There’s a time and a place for everything, and rule breaking is no exception.  While you must always be aware and respectful of your neighbors to avoid getting caught in any illicit activity, there are certain times throughout the day when it is safer to break the rules than others.  This is important information and should be referenced before any sort of rule breaking.</p>

<ul>
	<li><span id="green">9am – 7pm</span>: Great time to do whatever in your room.  RAs and fellow residents are in class or in the dining hall, leaving you alone to do whatever you like.
	<li><span id="red">7pm – 7:30pm</span>: RAs begin duty shifts at 7pm.  While on duty, every RA is required to perform 3 “rounds,” or building walkthroughs, every weekday and 4 rounds every weekend.  This 30 minute bracket is particularly dangerous because it is a habit of every RA to do their first round at the beginning of their duty shift.
	<li><span id="yellow">7:30pm – 9:30pm</span>: RAs will typically avoid another round of duty for a couple hours before doing the next, creating this window of opportunity.
	<li><span id="red">9:30pm – 10:30pm</span>: Every RA will do a round within this hour.  Furthermore, CSOs enter each building at this time to accompany RAs on their rounds.  The presence of the CSO pressures RAs into performing a more aggressive patrol of their respective floors and even little things like the clinking of shot glasses or the exclamation of “cheers” behind a closed door will result in a rude interruption to the night’s activities.
	<li><span id="yellow">10:30pm – 1:00am</span>: Your RA will do his or her final round(s) in this time span.  Remember to be extra precautious during this time period.
	<li><span id="yellow">1:00am</span> – <span id="green">9am</span>: This is a great time for smoking and a poor time for drinking.  RAs will have signed off their radios by 1:00am and will be finished performing their rounds for the night.  Likewise, many residents are already in bed for the night.  This makes the halls a smoking free-for-all as anyone who cares is likely asleep.  On the other hand, drinking during these hours is risky.  It’s no secret alcohol impairs your ability to hear and this results in raised voices.  At higher levels of intoxication, a lot of stumbling and banging around the room begins.  Noise at these levels tends to wake the neighbors who will dial in a noise complaint and force a tired RA out of bed to come yell at you for being an asshole.  If you HAVE to drink past 1am, do it in moderation and consider phoning this hotline: (800) 923-8722.
</ul>

<h4><a name="Five3">3.	Manners</a></h4>

<p class="thumbs">At some point in your rule breaking, you will get caught.  Despite reading this guide word for word, there will be certain unavoidable circumstances you won’t see coming that will have you setting up a meeting with your building’s Resident Director by the end of the night.  This is not a loss; it is a time to switch gears.</p>

<p class="thumbs">Most RAs are shitting their pants when they knock on a door for a citation.  Anything can happen and their training prepares them for the absolute worst, effectively scaring them more than helping them calmly handle a situation.  When your debauchery is broken up by an RA doing his job, do not attempt to fight, argue against, or explain your way out of trouble.  Your goal is to make the documentation process as smooth and easy for the RA as possible.  You fucked up; be nice about it.  Apologize, hand over your bruincard, and after cooperating, wish him well.  Being submissive is not everyone’s strong suit, but bottom line is that the RA will include every negative detail of the incident in his report that your Resident Director will be using to determine an appropriate punishment for you.  What’s more is many RAs will speak with their Resident Directors about the incidents the following day and will oftentimes put in a good word for cooperative encounters.  This may not get you out of trouble, but 5 hours of community service is considerably less than 15 hours.</p>

<h4><a name="Five4">4.	Pick a scapegoat</a></h4>

<p class="thumbs">Someone has to get in trouble, but not everyone.  When the jig is up and the RA is knocking on the door, have a scapegoat ready to take the blame.  A 5-man drinking competition behind a closed door (not recommended) can easily turn into that alcoholic of a roommate Nathan drinking by himself again.  Of course, make sure Nathan actually lives in the room…it’s not likely the Resident  Director will believe a guest came over to drink alone.  More importantly, be aware that <u>the RA will ask for everyone’s bruincard</u>.  DO NOT ARGUE (see <a href="#Five3" style="text-decoration: underline;">Manners</a>).  Explain that Nathan alone was drinking and that information will be included in the RA’s incident report when it is sent to the RD.  If you’ve been drinking, do yourself a favor and avoid breathing vodka all over the RA when you’re handing him your card.  Often, you will not have to meet with the RD based on the incident report, but supposing you have to set up a meeting, stick to your story, practice good manners, and you will find yourself consequence free.</p>

<h4><a name="Five5">5.	Plan ahead</a></h4>

<p class="thumbs">Perhaps the most important rule of thumb when it comes to breaking rules on the Hill is to have a general plan for the possibility of being cited by an RA.  This general plan should also be supplemented with case-specific strategies dependent on the kind of policy-violating activity you’re participating in.  For example, before diving into the 30 Coors Lights your brother delivered for you and your friends, inform your guests that a knock on the door is likely a bust and that any alcohol in plain sight needs to be placed in a closet, bathroom, or somewhere else out of plain sight.  If you don’t already know, determine who among you and your friends have had the least visits with Hill RDs and elect for one of them to play the scapegoat.  Most important of all however: be sure to inform your guests that the arrival of an RA is <em>not a big deal</em>. 9/10 times, Hill residents and especially their guests, panic in the event of a bust and “battle” the RA with their bad manners and rudeness, earning your whole team more community service than you need.  Having established a plan, your company will be equipped to mitigate a bust, effectively saving your time, your alcohol, and your night.</p>

<h3><a name="Alcohol" href="#Top">Alcohol</a></h3>

<h4><a name="alcohol_drill" href="#Top">The Drill</a></h4>

<p>There are 2 ways an RA will detect alcohol in a room: sound and smell.  Typically, the dampening effect alcohol has on your hearing causes you and your guests to talk louder, resulting in a noise complaint and consequently, an alcohol citation.  In the event of some heavier drinking however, your room will not be able to contain the critical mass of alcohol fumes shooting from your handles, forcing them out into the hall for duty-RAs to smell.  When an RA detects alcohol in a room, he will typically call for an additional RA and they will knock on your door.  The door is opened, RAs bring attention to the smell/sight of alcohol in the room, and information is taken down via bruincard.  An RA will then direct a resident to take any alcohol (including entire shelves full of visible, sealed handles (true story)) and dump it down the nearest drain while accompanied by the other RA on the scene.</p>

<h4><a name="alcohol_NOT" href="#Top">How NOT to get caught</a></h4>

<p>Drinking in your room without getting caught is no easy task and when dealing with higher volumes of alcohol, is arguably harder to pull off than smoking.  Remember to take into account the <a href="#Five">five important rules of thumb</a> as they are all applicable here.  In addition, do your best to get out on top by utilizing these tips:</p>

<ol id="NOT">
<li><b>Hide the Alcohol</b>.  Oh my GOD hide the alcohol.  It is the RA's job to remove from the room of any visible alcohol, open or closed, by putting it down the nearest drain.  Hide it and avoid a very unpleasant evening.</li>

<li><b>Be cool.</b>  In my 3 years as an RA, I’ve had a dozen or so incidents involving alcohol.  In each one of those incidents, I would knock on the door, notice someone on the other side look through the peep hole, and then in a terribly loud whisper, “SHHHH!! RA! PUT THE ALCOHOL AWAY!”  Of course, this goes in the incident report, so any lying after the fact is not only useless, but comes with the bonus of making you look like an asshole.

<div>When you’re having a few drinks and you hear a knock on your door, do not stop what you are doing or saying.  In fact, pretend you didn’t hear the knock.  Continue with whatever conversation you were having and without bothering to check who might be on the other side of the door, calmly signal to your friends that they hide the alcohol.  Having <a href="#Five5">planned</a> for this in advance, your guests will all be keen to continue the conversation and help put away any alcohol by the second knock on the door, at which point you answer.  You are drunk, you reek of alcohol, and that’s <u>okay</u>.  Only when the RAs inquire about the smell do you “admit” to them that everyone in your room just returned from the apartments not on the Hill and you’re all quite inebriated.  If the RA isn’t buying it, do what any innocent person would do and just cooperate, answering all questions and submitting your bruincard on request.  Worst-case scenario is you’re meeting with the RD and feeding him/her the same off-campus party fabrication.  If you’ve pulled this off properly, you will be free from consequence, as any off-campus partygoer would be.</div>
</li>
</ol>

<h3><a name="Marijuana" href="#Top">Marijuana</a></h3>

<p>Smoking weed in your room is hard to pull off and nearly impossible without the right tools.

<h4><a name="marijuana_drill" href="#Top">The Drill</a></h4>

<p>When an RA smells marijuana in a building on the Hill, the RA pinpoints the room the smell is coming from and calls another RA to confirm the smell.  After confirmation, the RA must call UCPD and request they come to the suspected room.  In the meantime, the RA is to stand watch outside the room until UCPD arrives, making sure that no one enters or exits the room.  UCPD takes an average of 10 minutes to arrive, at which time the head officer will take over the situation and knock on the door of the suspected residents.  The officer will grill the suspected residents and ask confusing questions for even a sober person to stumble through.  He will ask if you have been smoking weed and if you deny it, he will ask to search your room and so on.  In the end, any marijuana you present to the officer will be confiscated, any paraphernalia will be taken, and you will meet with your building RD to talk about what you’ve done.  It’s a painful process best avoided.</p>

<h4><a name="marijuana_NOT" href="#Top">How NOT to get caught</a></h4>

<p>In order to keep the aroma of marijuana in your room and not out your door, consider employing the following tactics:

<ol id="NOT">
<li><b>Make a mute</b>.  A mute is a device you blow smoke through to stifle its smell and reduce the volume of smoke you would otherwise release into your room.  A mute is made using 1-in PVC piping, a painters mask filter, and a hot glue gun or similar sticky alternative.  The setup is simple enough: you want to blow smoke through the filter and so you will be fastening the PVC pipe to that hole on the filter that is roughly the same size as the piping.  Obviously, aim to make the seal as airtight as possible and consider using chewing gum to close any gaps.  An alternative to this odor eliminator is what’s referred to as “floobie.”  Floobies are made by stuffing  sheets of fabric softener and toilet paper inside the cardboard center of a toilet paper roll.  Typically, tape is used to keep the stuffing from popping out of the tubing.  Blowing smoke through the floobie will disguise the smell of marijuana because of the dryer sheets’ strong scent, though the odor is still discernable and is best blown out the window. </li>

<li><b>Pack snappers</b>.  Ever notice that when you’re at your friend’s apartment and everyone’s passing the bong around that the bowl releases smoke in between hits?  That’s because the weed in the bowl is smoldering and emitting smoke after your friend took a turn.  This is why we pack snappers, so named after the sound made when you pull the end of a bowl into your bong.  You have to take care you don’t pack too much, so consider testing out this technique somewhere that is not your room.</li>

<li><b>Smoke at your window</b> and blow that shit outside.  The less smoke you allow into your room, the safer you will be.  If this isn’t obvious, you’re too high…ABORT!</li>

<li><b>Invest in a fan</b>.  There are two ideal places to have a fan in your room when you’re smoking: at your window and at your door.  A fan at your window allows you to blow smoke through your mute and into the back of the where it is then shot out the window at high speed.  At the base of your door, a fan keeps smoke that doesn’t go out your window from travelling out to the hall and creates a humming noise that will cover the ignition of lighters in your room.</li>

<li><b>Seal the edges of your door</b>.  Many students will put a wet towel at the base of their door to plug the gap between the carpet and the door.  Some students will even go so far as to tape off the cracks between the side of the door and the wall.  While proper use of earlier tactics make these precautionary measures a little over the top, it is always better to be safe than sorry.</li>

<li><b>Have a plan</b> for when someone knocks on the door.  Without saying a word, you’re going to put the marijuana in a specific place that’s out of sight, you are going to calmly remove any obstructions from your door, and you are going to open the door and greet whoever is standing there.  If you smoked a while ago, your room smells like weed because you and/or your friend just came from a smoke session <em>at your friend’s apartment</em> and the smell must still be lingering.  Nothing about that is against the rules.  If you were just smoking and the cop grills you into a confession, you just finished your last bit of bud and smoked out of an apple or other disposable instrument to avoid the confiscation of your sentimental belongings.</li>
</ol>

</body>
</div>